<!DOCTYPE html>
<html lang="en-us">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chocolate Bar Ratings</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>

<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Home</a>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/marketplace">Marketplace</a></li>
          <li><a href="/bean">Bean</a></li>
          <li><a href="/manufacturing">Manufacturing</a></li>
          <li><a href="/rawData">Data</a></li>
        </ul>
    </div>
</nav>
<br>
<br>
<br>
<div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <img src="https://cdn.shopify.com/s/files/1/0001/0103/t/5/assets/logo.png?v=18177701282721251772" alt="Chocolate Alchemy" width="1000" height="300">
        <h1>Chocolate Bar Ratings Dashboard</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    <!-- Container 1 -->
    <div class="container">
        <h3> Bean Comaprisons</h3>
        <br>
        <body>
            <section>
              <h1>Bean Country of Origin Ratings from 2006-2017</h1>
              <article>
                <img src="../static/assets/country_rating.png" alt="Bean Country of Origin ratings 200-2017" width="800" height="600">
                <br>
                <br>
                <br>
                <br>
                <br>
                <h1>Alluvial Year and Bean Type with rating as size of line</h1>
                <img src="../static/assets/bean_dual_year_rating.png" alt="Alluvial Year and Bean Type" width="800" height="600">
                <br>
                <br>
                <br>
                <br>
                <br>
                <h1>Dendrogram of Ratings by Bean Type</h1>
                <img src="../static/assets/bean_rating_burst.png" alt="Dendrogram of Ratings" width="800" height="800">
                <br>
                <br>
                <br>
                <br>
                <br>
                <h1>Circle Cluster of Rating by Bean Type from 2006-2017</h1>
                <img src="../static/assets/bean_rating_circle_cluster.png" alt="Circle Cluster of Bean Rating by year" width="800" height="800">
           
        </div>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
            <script src="https://d3js.org/d3.v5.min.js"></script>
            <!-- <script src="data.js"></script> -->
            <!-- <script src="../node_modules/requirejs/require.js"></script>
            <script src="../node_modules/sqlite3/lib/sqlite3.js"></script>
            <script src="../static/js/query.js"></script> -->
             <!-- <script src="../static/js/app2.js"></script>            -->
          </body>
          
          </html>
</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
